<div class="mainDiv">
  <h1> Contact Us</h1>
  <hr/>
  <div class="container text-right">
    <div class="row">
      <div class="col-12 col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.272458764673!2d72.53300087510053!3d23.05047071528683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84a44df432dd%3A0x5ef02d84a4e3e791!2sSarjan%20Towers%2C%20Memnagar%2C%20Ahmedabad%2C%20Gujarat%20380052!5e0!3m2!1sen!2sin!4v1701425691197!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="col-12 col-sm-4"><h3>Borivali Center</h3>
        <br>
        <div class="row">
          <div class="col-12 col-sm-2">
            <img src="../../../assets/images/addressSymbol.jpg" width="40" height="40"/>
          </div>
          <div class="col-12 col-sm-10">
            <h6>C-704, Sarjan Tower, Near ZED School, Gurukul Road, Ahmedabad, Gujarat - 380052.</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-sm-2">
            <img src="../../../assets/images/emailSymbol.png" width="40" height="40"/>
          </div>
          <div class="col-12 col-sm-10">
            <h6>yashv21.mehta&#64;gmail.com</h6>
            <h6>yashv21.mehta&#64;gmail.com</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-sm-2">
            <img src="../../../assets/images/timeSymbol.png" width="40" height="40"/>
          </div>
          <div class="col-12 col-sm-10">
            <h6>Monday to Saturday</h6>
            <h6>10.00 am to 8.00 pm</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-sm-2">
            <img src="../../../assets/images/phoneSymbol.png" width="40" height="40"/>
          </div>
          <div class="col-12 col-sm-10">
            <h6> +91 9408377724</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12 col-sm-2">
            <img src="../../../assets/images/webSymbol.png" width="40" height="40"/>
          </div>
          <div class="col-12 col-sm-10 text-centre">
            <h6>www.maxsurge.com</h6>
          </div>
        </div>
</div>
</div>