.img{
padding-top: 52px;
}

.img1{
padding-top: 25px;
}

// h1{
// color: rgba(34,24,88,255);
// font-family:sans-serif;
// font-weight: bolder;
// }

.h6{
color: rgba(34,24,88,255);
font-family:Times;
font-size: large;
padding-top: 10px;
}