<link rel="stylesheet" href="../../../styles.scss">
<div class="jumbotron text-start m-0 mainDiv">
    <div class="row">
        <div class="col mb-4">
            <h5 class="d-5 hello-user">
                <div class="d-inline-block align-top">
                    <div class="fadeInBottom" [class.show]="helloDoctor == true">
                        <h1 class="user-name background-div"><b>Dr. Abhishek Shah</b><h3>MDS (Oral Surgeon & Implantologist)</h3></h1>
                    </div>
                </div>
                <div>
                    <img class="zoom img-responsive" src="../../../assets/images/abhishek_shah.jpeg" />
                </div>
            </h5>
            <div>
                <p style="text-align: center;">
                    <b>Founder & Owner : </b> MaxSurge Dental Clinic & Implant Centre 
                </p>
                <div class="about-text">
                    Dr. Abhishek Shah is a highly skilled and experienced oral surgeon dedicated to providing exceptional care and expertise in oral and maxillofacial surgery and dental implantology. With a passion for improving patients' oral health and quality of life, Dr. Abhishek brings a compassionate approach to every procedure. 
</div>
<br>
<div class="background-div"><b class="about-bold">Credentials:</b><br></div>
<div class="about-text"> Oral and maxillofacial Surgery KLE, Belgaum, Karnataka <br>
Andvanced Implantology Training (Dr. Nitin Ahuja, Mumbai) <br>
Mastership Program in Tilted Implants (Cochin Implant Centre)<br>
BDS (Navi Mumbai) - MUHS
</div>
<br>

<div class="background-div"><b class="about-bold">Expertise:</b><br></div>
<div class="about-text"> Dr. Abhishek Shah specialises in a wide range of oral and maxillofacial procedures, including:</div><br>
<table class="col-12"><tr>
    <td class="col-6"> • Dental implants </td>
    <td class="col-6"> • Full Mouth Rehabilitation  </td>
</tr>
<tr>
    <td>• All-on-4/6 </td>
    <td> • Immediate Loading in 72 hours (Teeth in 3 days) </td>
</tr>
<tr>
    <td> • Zygomatic and Pterygoid Implants </td>
    <td> • Wisdom Tooth Extraction </td>
</tr>
<tr>
    <td> • Bone grafting</td>
    <td> • TMJ disorders treatment </td>
</tr>
<tr>
    <td> • Facial and Dental trauma repair</td>
    <td> • Oral pathology diagnosis and treatment </td>
</tr>
<tr>
    <td> • Oral cancer screening </td>
    <td> • Teeth Whitening </td>
</tr>
</table>
<br>
<div class="background-div"><b class="about-bold">Services offered:</b><br></div> 
<div class="about-text">
    Dentistry<br>
Cosmetic Dentistry <br>
Endodontics(Root canal)<br>
Braces & Aligners<br>
Crown and Bridges<br>
Complete Dentures<br>
</div> 
<br>

<div class="background-div"><b class="about-bold">Compassionate Care: </b><br></div> 
<div class="about-text">
Dr. Abhishek understands that undergoing oral surgery can be a daunting experience for patients. With a focus on patient comfort and satisfaction, Dr. Abishek takes the time to listen to each patient's concerns, thoroughly explain treatment options, and provide personalized care every step of the way.
Driven by commitment to excellence, Dr.Abhishek stays updated with the latest advancements in oral surgery techniques and technology. This dedication ensures that patients receive the highest standard of care and optimal outcomes. With Patient-Centered approach at Maxsurge Dental Clinic ,Dr.Abhishek and the entire team are dedicated to creating a warm and welcoming environment where patients feel valued and respected. Whether you require routine dental surgery or complex reconstructive procedures, you can trust Dr. Abhishek who delivers compassionate care and exceptional results.
Schedule a consultation with Dr. Abhishek today and take the first step towards achieving a healthier, more confident smile.
<br><br>
Feel free to adapt this introduction to fit the specific qualifications, expertise, and approach of the oral surgeon and their practice.
</div>
</div>


            </div>
        </div>
    </div>
 