<div class="jumbotron text-start m-0">
    <div class="row">
        <div class="col mb-4">
            <h5 class="d-5 hello-user">
                <div class="d-inline-block align-top">
                    <div class="fadeInBottom" [class.show]="helloDoctor == true">
                        <h1 class="user-name">Dr. Abhishek Shah</h1>
                    </div>
                </div>
                <div>
                    <img class="zoom img-responsive" src="assets/images/samplePic.JPG" />
                </div>
            </h5>
            <div>
                <p class="font-bold">
                    Dr Abhishek M Shah (MDS -Oral & Maxillofacial Surgeon) is the Owner, MD & Principal
                    dentist at MaxSurge Dental
                    Clinic.
                </p>
                <span class="">
                    He started his bright academic career with a graduate degree of Bachelor of Dental Surgery from
                    Karnataka University.
                    Holding on to his urge to specialize, he aquired the Master of Dental Surgery in Orthodontics and
                    Dentofacial
                    Orthopaedics from the same University with First University rank amongst all MDS COURSES & Gold
                    Medal.
                    <br> <br>
                    He has a well equipped dental clinic with the latest instrument and the infrastructure is one of the
                    best in the city.
                    He treats his patients with exceptional professional expertise and in an extremely friendly manner.
                    He offers both basic
                    & advanced dental treatment with latest technology and excellent skill.
                    <br> <br>
                    He has undergone numerous advanced training sessions to further sharpen his professional skills. He
                    regularly attends
                    seminars, symposia, workshops, programmes and conferences on different topics to be updated of
                    latest developments in
                    his speciality field.
                </span>


            </div>
        </div>
    </div>
</div>