<div class="mainDiv">
    <div>
        <h1> Book Appoinment </h1>
        <hr/>

        <p>
            Our “Book An Appointment” Form facilitates our patients to make an online booking at MaxSurge Dental Clinic in 
            Borivali west. We provide with pretty precise dental advices. It includes accurate counseling with reliable 
            discussion about one’s various dental problems. We deal with every sort of dental issues with successful 
            treatments and solutions. Your appropriate dental heath and fairly attractive oral appearance is our ultimate 
            goal!
            <br> <br>
            Please fill in the below details to make an appointment for dental consultation and treatment!
        </p>
            <form name="sentMessage" id="contactForm">
                  <div class="form-group" [class.has-error]="myNameControl.invalid">
                    <label for="yourName" class="control-group">Your Name <sup style="color:red" >*</sup> </label>
                    <input required id="myName" name="myName" [(ngModel)]="myName" type="text" #myNameControl="ngModel" class="form-control" placeholder="Name"  minlength="4">
                    <span class="help-block" *ngIf="myName.invalid"> Name is required. </span>
                    <div *ngIf="myName.invalid && (myName.dirty || myName.touched)" class="alert">
                      <div *ngIf="myName.errors?.['required']">Name is required.</div>
                      <div *ngIf="myName.errors?.['minlength']">Name must be at least 4 characters long.</div> 
                     </div>
                </div>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Email Address <sup style="color:red" >*</sup> </label>
                    <input type="email" [(ngModel)]="myEmail" name="myEmail" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                 <div class="control-group">
                    <label for="validationTooltip04" class="form-label">What treatment are you looking for? <sup>*</sup></label>
                    <div class="col-md-3">
                        <select class="form-select" id="validationTooltip04" required [(ngModel)]="myTreatment" name="myTreatment" (change)="update($event)">
                            <option value="default"> Choose... </option> 
                            <option *ngFor="let option of options" [value]="option">{{option}}</option>
                        </select>
                    <div class="invalid-tooltip">
                        Please select a valid treatment.
                    </div>
                    <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Phone Number</label>
                    <input type="text" [(ngModel)]="myPhonenum" name="myPhonenum" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Message</label>
                    <textarea [(ngModel)]="myAddress" name="message" rows="3" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="form-group">
                  <button  (click)="sendData($event)" type="button" class="btn btn-primary" id="sendMessageButton">Send</button>
                </div>
              </form>               
    </div>
</div>