.mainDiv{
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 20px;
    width : 1000px;
    height: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.example-full-width {
    width: 70%;
  }

  .form-control{
    width: 70%;
  }