<link rel="stylesheet" href="../../../styles.scss">
<div class="footer">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=919892006491">
        <img src="../../../assets/images/whatsapp_icon.png">
    </a>
    <a target="_blank" href="https://www.instagram.com/maxsurge_dental?igsh=MXFkbGF3NWhwNnZodQ==">
        <img src="../../../assets/images/instagram_icon.png">
    </a>
    <a target="_blank" href="https:/www.google.com">
        <img src="../../../assets/images/facebook_icon.png">
    </a>
    <a target="_blank" href="https:/www.google.com">
        <img src="../../../assets/images/twitter_icon.png">
    </a>
  </div>