<link rel="stylesheet" href="../../../../styles.scss"> 
<div class="mainDiv">
    <h1> Endodontics </h1>
  <hr/>
  <div>
    ROOT CANAL TREATMENT
The routine root canal is feared more than any other type of dental procedure. The words alone are enough to send shivers up the spine of a grown adult. Every year, thousands of people who desperately need one to fix a serious cavity or alleviate severe toothache choose to avoid them altogether.



Root canal is a one or two sitting job. In the first sitting we give local Computerized painless anesthesia system and hence the root canal treatment is totally painless. In fact, it’s probably more painful living with a decayed tooth.

As a nation, we simply do not like them and we instantly panic if the term ‘root canal’ makes an appearance during a check-up or examination. Despite this, it is quite rare for patients to report bad experiences during root canal treatments. For most, there is no pain at all. In fact, the procedure can be surprisingly relaxing.

We clean the Root canal with the help of root canal files and some medicines. We take an x-ray to confirm whether the canals are cleaned properly. Apex Locator which is the latest type of instrument gives the depth of canal. It is major breakthrough in Root canal treatment. We take computerized xrays called RVG  to confirm whether the infection is removed these have .001 percent of the exposure as normal x-rays. Then the canals are filled with artificial material called as a Gutta Percha. After the Root canal is filled we do a filling on the tooth, it can be of composite or miracle mix. If the infection is more sometimes we take three sittings also, Ceramco Dental Clinic does not charge for the third or extra sittings.

Tooth pulp is painful because it’s packed with nerves and blood vessels. If this pain subsides, don’t be fooled into thinking the infection is gone. As pulp begins to die, the pain often disappears. Other symptoms will follow, like oozing pus and facial swelling, as the infection travels to your roots. Don’t delay your treatment based on lack of pain symptoms.
  </div>
</div>