.carousel-wrapper{
  width:100%;
  height: 550px;
  overflow: hidden;
  position : relative;

  .caption{
    position: absolute;
    bottom: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    }
}

img{
  height: 100%;
  width: 100%;
}

.row{
  width: 340px;
  height: 250px;
  object-fit:cover;
  float: left;
  border: 4px solid white; 
}

.col-4{
  width: 340px;
  height: 250px;
  position: relative;
  border: 4px solid white; 
}