<div class="mainDiv">
  <h1> Gallery </h1>
  <hr/>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="carousel-wrapper">
        <img src="../../../assets/{{image.name}} " alt="image.caption">
        <div class="caption">{{image.caption}}</div>
      </div>
    </ng-template>
  </ngb-carousel>
<br>
      <div class="col-12"><h3>Borivali Center</h3></div>
      <br>
        <div class="row">
          <a href="../../../assets/images/implant.jpg" style="padding: 0px;">
          <img src="../../../assets/images/implant.jpg"/>
        </a>
        </div>
        <div class="row">
          <a href="../../../assets/images/clinic.jpg" style="padding: 0px;">
          <img src="../../../assets/images/clinic.jpg"/>
        </a>
        </div>
        <div class="row">
          <a href="../../../assets/images/smile.jpg" style="padding: 0px;">
          <img src="../../../assets/images/smile.jpg"/>
        </a>
        </div>
        <div class="row">
          <a href="../../../assets/images/surgery.jpg" style="padding: 0px;">
          <img src="../../../assets/images/surgery.jpg"/>
        </a>
        </div>
        <div class="row">
          <a href="../../../assets/images/braces.jpg" style="padding: 0px;">
          <img src="../../../assets/images/braces.jpg"/>
        </a>
        </div>
        <div class="row">
          <a href="../../../assets/images/braces.jpg" style="padding: 0px;">
          <img src="../../../assets/images/braces.jpg"/>
        </a>
        </div>
</div>
