<link rel="stylesheet" href="../../../styles.scss"> 
<div class="mainDiv">
  <h1> Gallery </h1>
  <hr/>
  <ngb-carousel [interval]="3000">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="carousel-wrapper">
        <img src="../../../assets/{{image.name}} " alt="image.caption">
        <!-- <div class="caption">{{image.caption}}</div> -->
      </div>
    </ng-template>
  </ngb-carousel>
<br>
      <div class="col-12"><h3 style="color: rgba(34,24,88,255); font-weight: bolder; font-family: Cambria;">Borivali Center</h3></div>
      <br>
          
            <div class="gallary" *ngFor="let gallary_image of gallary_images">
              <div class="row">
                  <div class="col-4">
            <a href="../../../assets/{{gallary_image.name}}"  >
            <img src="../../../assets/{{gallary_image.name}}"/>
            </a>
            </div>
          </div>
        </div>
</div>
