<link rel="stylesheet" href="../../../../styles.scss"> 
<div class="mainDiv">
    <h1> Cosmetic Dentistry </h1>
  <hr/>
  <div class="para1">
    <b>MAKEOVER</b> <br><br>
Smile design treatment is a cosmetic treatment that focuses on improving the appearance of your smile through certain procedures such as Dental Veneers, Composite bonding, Dental Crowns, Teeth whitening and Dental Implants, some of the factors taken into consideration for this treatment include facial appearance, skin tone, gum tissues and lips.
<br><br>
Facial beauty is based on standard esthetic principles that involve proper alignment, symmetry and proportion of face. Analyzing, evaluating and treatment planning for facial esthetics often involve a multidisciplinary approach which could include orthodontics, periodontal therapy and cosmetic dentistry.
<br><br>
Digital Smile Design is a unique dental treatment planning tool that strengthens a dental provider’s diagnostic vision, enhances predictability, and improves communication between dental providers and their patients. A treatment plan is completely based on a thorough analysis of the patient’s dental and facial proportions. Through the use of videos, photographs, and temporary mock-ups, Digital Smile Design providers can get a better sense of the relationship between the lips, gums, and teeth, as well as how they work together to create the patient’s smile.
<br><br>
When you choose to embark on a Digital Smile Design journey, you’ll work closely with a provider who is more than just a dentist. In fact, those accepted into the group of Digital Smile Design providers have artistic vision, which is necessary to create beautiful smiles, as well as the experience needed to give you a positive outcome.
  </div>
</div>

