<link rel="stylesheet" href="../../../../styles.scss"> 
<div class="mainDiv">
    <h1> Crown </h1>
  <hr/>
  <div>
    CROWNS
Dentistry is an art as well as a science– Dental crowns offer a perfect example of this.



A dental crown or “cap” is a covering that fits over a damaged, decayed or unattractive tooth. It can even replace a tooth entirely as part of dental bridgework.

Your dentist may recommend a crown to:-

Replace a large filling when there isn’t enough tooth remaining to hold a filling.
After a root canal treatment, to cover the tooth
Protect a weak tooth from fracturing
Restore a fractured tooth
Attach a bridge
Cover a discolored or poorly shaped tooth.
Cover a dental implant
Crowns strengthen damaged teeth, allowing them to function normally again. When crafted from today’s high-tech porcelains (dental ceramics), crowns are virtually indistinguishable from natural teeth. They can even bedesigned to improve upon a tooth’s original appearance. Other possibilities include porcelain-fused-to-metal crowns (PFM), which have a metal interior for strength and a porcelain exterior for a more natural appearance, and all-porcelain crowns with Zirconia, representing the strongest ceramic crowns.


  </div>
</div>