<!-- Add Navbar here -->
<!-- <p>Common Navbar should be added here!</p> -->
<div>
    <mat-toolbar color="primary" backgroundColor="primary">
        <span>MaxSurge Dental Clinic <br> & Orthodontic center</span>
        <a mat-button routerLink="/home"> Home </a>
        <a mat-button routerLink="/about"> About </a>
        <a mat-button routerLink="/gallery"> Gallery </a>
        <a mat-button [matMenuTriggerFor]="afterMenu"> Our Servcies </a>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item routerLink="/dental-services">Implant</button>
            <button mat-menu-item>Aligners</button>
            <button mat-menu-item>Aesthetics</button>
        </mat-menu>
        <div class="spacer"></div>
        <a mat-button routerLink="/contact-us"> Contact Us</a>
        <a mat-button routerLink="/book-appoinment"> Book Appoinment</a>
    </mat-toolbar>
</div>
<div class="container-fluid theme-body-outline">
    <router-outlet></router-outlet>
</div>