.mat-toolbar {
    background-color: rgba(34,24,88,255);
}

.mat-button {
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.logo{
    padding-left: 10px;
    padding-right: 10px;
}

.menu{
    padding-left: 100px;
}