<div>
    <mat-toolbar color="primary" backgroundColor="primary">
        <img src="../../../assets/images/logo.jpg" height="60px" width="60px">
        <span class="logo">MaxSurge Dental Clinic <br> & Implant Center</span>
        <a mat-button routerLink="/home"> Home </a>
        <a mat-button routerLink="/about"> About </a>
        <a mat-button routerLink="/gallery"> Gallery </a>
        <a mat-button [matMenuTriggerFor]="afterMenu"> Our Servcies </a>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item routerLink="/dental-services">Implant</button>
            <button mat-menu-item>Aligners</button>
            <button mat-menu-item>Aesthetics</button>
        </mat-menu>
        <div class="spacer"></div>
        <a mat-button routerLink="/contact-us"> Contact Us</a>
        <a mat-button routerLink="/book-appoinment"> Book Appoinment</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>