<link rel="stylesheet" href="../../../../styles.scss"> 
<div class="mainDiv">
    <h1> Complete Dentures </h1>
  <hr/>
  <div class="para1">
Dentures today aren’t like the false teeth your grandparents wore.

Today, dentures are more modern, natural looking, and effective, letting people who wear them smile and eat with confidence. They are also comfortable and fitted specifically to your mouth, to allow for an easy adjustment period and to reduce the chances of discomfort along the gums.

At MaxSurge Dental Clinic, we manufacture  your Dentures In-House, although the treatment phase spans over 5 appointments, they can be completed in 2 appointments.
<br><br>
MaxSurge’s  Prosthodontist  conducts Home visits for Ambulatory patients.

<br><br>
<b></b>Different types of dentures available at our clinic are <b>complete</b> and <b>partial</b> dentures. <b>Complete dentures</b> are used when all the teeth are missing, while <b>Partial dentures</b> are used when some natural teeth remain. 

We even repair dentures as well as do emergency dental treatment, which having an In-house lab makes this truly possible.

<br><br>
Some of the types of Dentures available at MaxSurge Dental Clinic :<br><br>
<ul *ngFor="let lineitem of lineitems">
  <li><b>{{lineitem.main}}</b><br>{{lineitem.sub}}</li>
</ul>

God has given us two sets of teeth, we at MaxSurge Dental Clinic give you a third set.
  </div>
</div>
