<link rel="stylesheet" href="../../../../styles.scss"> 
<div class="mainDiv">
    <h1>Bridges </h1>
  <hr/>
<div class="para1">

Bridges are commonly used to replace one or more missing teeth and they span the space where the teeth are missing.

bridgesThey are cemented to the natural teeth or implants surrounding the empty space.
<br><br>
<b>What Are the Benefits of Dental Bridges?</b>
<br><br>
Bridges can: <br><br>
<ul *ngFor="let lineitem of lineitems1">
  <li>{{lineitem}}</li>
</ul>

There are multiple types of dental bridges available at MaxSurge Dental Clinic. Our prosthodontist will make the necessary evaluation before he recommends what type of dental bridge is suited for your need.

<br><br>
<b>Here are the following types of bridges.</b><br><br>
<ul *ngFor="let lineitem of lineitems2">
  <li><b>{{lineitem.main}}</b><br>{{lineitem.sub}}</li>
</ul>

</div>
</div>
