<link rel="stylesheet" href="../../../../styles.scss"> 
<div class="mainDiv">
    <h1>Braces </h1>
  <hr/>
  <div>
    The general aim of orthodontic treatment is functional as well as cosmetic. If not carried out it may lead to the damage and malfunction of oral tissue such as teeth, gums, bones, joints and even be the cause of headaches and neck problem. These problems when manifested in adults may require not only orthodontic treatment but also restorative work, to restore the mouth to full heath and functioning, dentition and in the process create a beautiful smile.

Going through a big change like getting braces can sometimes make people feel alone or self-conscious. While there’s nothing wrong with feeling that way at first, there is really no need to feel alienated. Why? Because FOUR MILLION other people are currently in your shoes!

The American Association of Orthodontics has reported that four million other people also have braces at this very minute. Not only are millions sharing your quest for a healthier and more beautiful smile, but about one million of these orthodontics patients are adults over the age of 18. Braces are a popular decision– and for good reason.



Conventional fixed braces: these are commonly used and are visible. Although now smaller and less obvious they still may not be aesthetically acceptable to some patients.
Lingual braces:These are worn on the back of the teeth and are, therefore, invisible. They require specialist expertise for placement which Smile Design can offer.
Clear braces (Invisalign/CLEAR PATH):These are clear ‘invisible’ braces which are very popular with adult patients.
It  is a removal brace system that uses a series of custom made aligners to move the teeth into the correct position. Treatment planning carried out by using 3D computer imaging technology to project the tooth movement achievable allows the dentist and the patient to visualize the result before treatment commences. In this way facial aesthetics and smile characteristics can be to the patient’s choice.

The length of the treatment is dependent on the severity of the crowding or spacing of the teeth and complexity of the movement required

Benefits of Invisalign Braces :
Invisalign braces are clear therefore aesthetically very acceptable and discreet.
Can be removed when eating or to brush and floss the teeth.
Easy to maintain oral hygiene.
The end result is computer modeled before you start so you know exactly the ‘smile you are getting.
The treatment can be quicker than conventional braces.
  </div>
</div>