/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fadeInBottom {
    animation: fadeInBottom 0.5s ease-in;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
    }
}

.h8-font {
    font-size: 0.7rem !important;
}

.font-medium {
    font-family: Poppins-Medium, sans-serif !important;
}

.font-bold,
.fw-bold,
b,
strong {
    font-weight: bold;
}

.page-header {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.mainDiv{
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width : 1000px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-bottom: 75px;
}

.homeDiv{
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-bottom: 75px;
}
/* wide screen */
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }